node_modules
dist
coverage
*.log
*.md

.vscode
.idea
.env
.env.local
.env.development
.env.test

.git
.gitignore

tests
__tests__/
**/__tests__/
*.test.*
*.spec.*

Dockerfile
docker-compose.yml
tsconfig.*.json